<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList-With-angularnode</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body  ng-app="todomvc">
    <div ng-controller="todoMvcCtrl" class="container">  <!-- ng-app으로 todomvc 앵귤러 모듈 사용을 브라우저에게 알림 -->
        <h1>Todo List</h1>

        <ul class="list-unstyled">
            <!-- Add form -->
            <li>
                <form ng-submit="addTodo(newTodoTitle)">
                    <div class="input-group">
                        <input type="text" placeholder="What will you do?..." class="form-control"
                               ng-model="newTodoTitle" value="s" autofocus>
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-success">Add</button>
                        </span>
                    </div>
                </form>
            </li>
        </ul>


        <div>
            <!-- todo List "Direct 설정"-->
            <ul ng-repeat="todo in todos | filter:statusFilter" class="list-unstyled">
                <li class="todo-item">
                    <todo-item todo="todo" remove="remove(todo)" update="update(todo)"></todo-item>
                </li>
            </ul>
        </div>


        <div>
            <!--  Filters -->
            <ul class="list-unstyled">
                <li>
                    <button type="button" class="btn btn-default"
                            ng-click="statusFilter={completed:true}">Completed</button>
                    <button type="button" class="btn btn-default"
                            ng-click="statusFilter={completed:false}">Active</button>
                    <button type="button" class="btn btn-default"
                            ng-click="statusFilter={}">All</button>
                    <button type="button" class="btn btn-default"
                            ng-click="clearCompleted()">Clear Completed
                    </button>
                </li>
            </ul>
        </div>

        <pre>{{ todos | json }}</pre>

        <!-- angular 로딩 -->
        <script src="../node_modules/angular/angular.js"></script>
        <!-- 모듈 로딩-->
        <script src="js/app.js"></script>
        <!-- 컨드롤러 로딩-->
        <script src="js/controllers/todoMvcCtrl"></script>
        <!--서비스 로딩-->
        <script src="js/services/todomvcStorage.js"></script>
        <!--다이렉드 로딩-->
        <script src="js/directives/todoItem.js"></script>
    </div>
</body>
</html>