<!DOCTYPE html>
<html ng-app="todomvc">
<head>
    <meta charset="UTF-8">
    <title>TodoList-With-angularnode</title>
</head>
<body ng-controller="todoMvcCtrl"> <!-- ng-app으로 todomvc 앵귤러 모듈 사용을 브라우저에게 알림 -->

    <h1>Todo List</h1>

    <!-- Add form -->
    <form ng-submit="addTodo(newTodo)">
        <input type="text" ng-model="newTodo" placeholder="what will you do?...">
        <button type="submit">Add</button>
    </form>

    <!-- todo List-->
    <ul ng-repeat="todo in todos">
        <li>
            <input type="checkbox" ng-model="todo.completed">
            <input type="text" ng-model="todo.title">
            <button type="button" ng-click="remove(todo.id)">Remove</button><!-- ng-click 디렉티브로 컨트롤러의 remove() 함수와 연력-->
        </li>
    </ul>



    <pre>{{ todos | json }}</pre>

    <!-- angular 로딩 -->
    <script src="node_modules/angular/angular.js"></script>

    <!-- 모듈 생성-->
    <script src="js/app.js"></script>

    <!-- 컨드롤러 생성-->
    <script src="js/controllers/todoMvcCtrl"></script>

</body>
</html>